<section class="section_global wave">
  <div class="baggage_hero"> 
         <%= render 'shared/quote_box'%> 
     <div class="hero_text">
        <div class="hero_text_item">
          <h1>Baggage Shipping</h1>
          <p>Call us on 0800 783 4418</p>
        </div>
     </div>     
  </div>
</section>

<section class="baggage_one">
    <div class="container">
            <h2 class="default">Send Baggage with Anglo Pacific</h2>
            <p>
            Do you need to send a bag overseas? Are you looking for a baggage shipping company who you can trust with your worldly possessions? Anglo Pacific is ready to fulfil all baggage forwarding whether you are about to uproot and vacate the UK or return home following a once in a lifetime trip.
            </p>
            <p>
                We have been shipping bags overseas since 1978, during which time we have consistently advanced our services and became the UK’s largest and one of the most favoured baggage companies for home removals and baggage transport.
            </p>

            <p>
                Each member of our baggage shipping team is fully trained and undergoes regular development to ensure our clients always receive the best achievable service when using Anglo to send baggage abroad.
            </p>

            <p>
                We send over 20,000 luggage consignments each year and our teams know the international baggage shipping process like the back of their hand, you can be sure of receiving exceptional advice and services at the best price. Don’t just take our word for it, read our baggage shipping reviews to see what our customers think.

            </p>
    </div>
</section>

<section class="baggage_two">
    <div class="container">
        <h2 class="default">International Baggage Shipping</h2>

        <div class="row">
            <div class="col-sm-5">
                <img src="https://via.placeholder.com/500x500" alt="" srcset="">
            </div>
            <div class="col-sm-7">
            <p>
                With Anglo Pacific offices in London, Manchester and Glasgow, shipping bags from the UK to has never been easier. We operate a process that is designed to help you send your bags and boxes with minimal hassle, despite if that is to a destination as close as France, or as far reaching as New Zealand.
            </p>
            <p>
                Our service to ship baggage overseas is all-inclusive, starting with being assigned a committed move consultant to answer your queries and ensure your shipment is fully coordinated and organised.
            </p>
            <p>
                The effortless affair is as simple as telling us you want to send your overweight or oversized suitcases and boxes, wait for your packed unaccompanied baggage to be collected on the specified date and be ready for delivery of your luggage at your final destination, again, on a day that suits you.
            </p>
            
            </div>
        </div>
    </div>

</section>
<%=render 'shared/quote_section'%>

<section class="baggage_three">
  <div class="container">
      <div class="tabs">
        <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home">SERVICES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1">COST</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2">EXTRAS</a>
              </li>
               
            </ul>
      </div>
      <div class="tab_contents">
          <div class="tab-content">
                <div id="home" class="container tab-pane active"><br>
                  <h2 class="default">Why Use a Baggage Shipping Company?</h2>
                    Embarking on a travelling trip or an extended holiday, studying abroad as an exchange student, or emigrating to settle in a new country are all instances where you might need to take excessive amounts of luggage, but that doesn’t mean you want to pay over the odds… this is where you would use a seasoned international baggage shipping company, such as us! <br> <br>

                    Hauling extra suitcases and boxes onto your domestic flight can run up quite the bill as the general rule is that every passenger is allowed to take one suitcase with a 30kg weight restriction, even on the most generous airlines. We do not operate a ‘per kilogram’; charging scheme, meaning sending extra bags with us will save a great deal of money that can be better spent on your voyage. <br> <br>

                    Besides, carrying multiple suitcases of extra baggage will be an inconvenience on all steps of your journey. If you are country hopping before settling in your final destination, or if you just want to make travelling easy for yourself, you won’t want to be hauling more bags than comfortably possible. Sending your bags with a luggage company is the most effective way to eliminate any strain, frustration and time wasting at luggage drop-offs and collection carousels.
                </div>
                <div id="menu1" class="container tab-pane fade"><br>
                    <h2 class="default">Baggage Shipping Costs</h2>

                        For our clients to receive the best possible price when shipping bags overseas, we don’t calculate our costs based on weight, unlike many airlines. When you send your bag with Anglo Pacific, you will pack your possessions into the appropriately sized tea cartons or boxes and each size variant has its own fixed price.  <br> <br>

                        Another influence on the overall quote is the transport method you use to send your bag. We use one, or a combination of, road freight, sea freight and air freight for all baggage forwarding. The method you choose will be dependent on your destination, the time-scale in which you want to receive your bags and of course, your budget. <br> <br>

                        Road freight and sea freight are the best options for customers looking to ship luggage on a budget, but it takes slightly longer to receive your belongings on the other end (road freight is only available for EU deliveries). Air freight is the prime choice for those needing to receive their bags or suitcases in a hurry, but air freight is the most expensive of the three transport methods.

                </div>
                <div id="menu2" class="container tab-pane fade"><br>

                    <h2 class="default">What is Included in the Costs?</h2>

                    We like to supply our customers with a few added extras as a thank you and to maintain our hassle-free international baggage shipping policy. <br> <br>

                    We provide all of the industry-approved packing materials, boxes and tea cartons that you need and collect them directly from your home. As well as shipping your boxes, we will also deliver your bags directly to your door. <br> <br>

                    What’s more, our baggage shipping specialists complete the mundane tasks required to send baggage, such organising customs clearances and completing documentation.

                </div>
            </div>
      </div>
  </div>
</section>

<section class="baggage_four">
  <div class="container">
       <h2 class="default">Check out our country guides</h2>
    <div class="row big">
      <div class="col-sm">
         <h4>Service</h4> 
             <div class="form-group">
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
      </div>
      <div class="col-sm">
         <h4>country</h4> 
            <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                 <option>1</option>
                 <option>2</option>
                 <option>3</option>
                 <option>4</option>
                 <option>5</option>
                </select>
             </div>

      </div>
      <div class="col-sm">
       <h4 class="text-white">.</h4>
       <button type="button" class="btn btn-warning">See Guide</button>
      </div>
    </div>
  </div>
</section>

<section class="baggage_five">
    <div class="container">
        <div class="text-center"><h1 class="default">Interested in anything else?</h1></div>

        <div class="baggage_grid">
            <div class="baggage_grid_items">
              
              <%=image_tag('baggage1.png')%>
              
                
                <span>Car shipping</span>
            </div>
            <div class="baggage_grid_items">
               <%=image_tag('baggage2.png')%>
                <span>International Removals</span>
            </div>
            <div class="baggage_grid_items">
              <%=image_tag('baggage3.png')%>
                <span>Shipping Funiture</span>
            </div>
            <div class="baggage_grid_items">
              <%=image_tag('baggage4.png')%>
                <span>Pet Transportation</span>
            </div>

            <div class="baggage_grid_items">
              <%=image_tag('baggage5.png')%>
                <span>Fine Art Shipping</span>
            </div>

            <div class="baggage_grid_items">
              <%=image_tag('baggage6.png')%>
                <span>Shows & Exhibitions Shipping</span>
            </div>

            <div class="baggage_grid_items">
              <%=image_tag('baggage7.png')%>
                <span>Trade Shipping</span>
            </div>

            <div class="baggage_grid_items">
              <%=image_tag('baggage8.png')%>
                <span>International Student Shipping</span>
            </div>
            
        </div>
    </div>
</section>
<section class="baggage_six">
  <%=render 'shared/reviews'%>
</section>
 
 <section class="baggage_seven">
    <%=render 'shared/news'%>
 </section>




