 <section class="footer">
 <section class="eigth">
  <div class="container">
    <h2 class="underline">Featured companies
        and accreditation</h2>  
    <div class="partners">
    <div class=""> <%=image_tag("image2.png")%> </div>
      <div class=""> <%=image_tag("image2.jpg")%> </div>
      <div class=""> <%=image_tag("image3.jpg")%> </div>
      <div class=""> <%=image_tag("image4.jpg")%> </div>
      <div class=""> <%=image_tag("image5.jpg")%> </div>
      
    </div>
  </div>
</section>

<section class="nine">
  <div class="container">
    <h3>Looking For</h3>
 
   <div class="section_nine_flex">
      <div class="nine_flex_items">
        <ul>
          <li><a href="">shipping Boxes</a></li>
          <li><a href="">Luggagge</a></li>
          <li><a href="">Excess Baggage</a></li>
        </ul>
      </div>
      <div class="nine_flex_items">
        <ul>
          <li><a href="">Shipping Goods</a></li>
          <li><a href="">Student Shipping</a></li>
          <li><a href="">Trade Shipping</a></li>
        </ul>
      </div>
      <div class="nine_flex_items">
        <ul>
          <li><a href="">Exhibition</a></li>
          <li><a href="">International Removals</a></li>
          <li><a href="">Imports</a></li>
        </ul>
      </div>
      <div class="nine_flex_items">
        <ul>
          <li><a href="">Fine Arts Shipping</a></li>
          <li><a href="">Freight Shipping</a></li>
          <li><a href="">Motorbike SHipping</a></li>
        </ul>
      </div>
   </div>
   </div>
</section>


    <div class="container">
    
      <div class="row">
        <div class="col-sm-5">
            <ul>
           <span>Anglo Pacific International Plc is located at:</span>
             <li>Anglo House, Drury Way, London, NW10 0HZ</li>
             <li>Unit 5, 7 The Furrows, Trafford Park, Manchester, M32 0SZ</li>
             <li>Hornal Road, Bothwell Park Industrial Estate, Uddingston, Glasgow,G71 7EE</li>
           </ul>
        </div>
        <div class="col-sm">
           <ul>
           <span>About Us:</span>
             <li>Careers</li>
             <li>FAQ</li>
             <li>Get Quotes</li>
           </ul>
        </div>
        <div class="col-sm">
          <ul>
            <li>Contacts</li>
            <li>News</li>
            <li>Sitemap</li>
          </ul>
        </div>
        <div class="col-sm">
          <ul>
           <span>Contact Us</span>
            <li><span class="icons">Tel:</span> 0123456789</li>
            <li><span class="icons">Fax:</span>0123456987</li>
            <li><span class="icons">Email:</span>email@email.com</li>
          </ul>
        </div>
      </div> 
      <div class="row">
          <div class="col social">
              <div class="">
                

Anglo Pacific International Plc, acting as agent for The Movers Trading Club are fully licenced, bonded and OTI registered by the OTI organisation number 013636. <br>
© Copyright Anglo Pacific International Plc 2018 - All Rights Reserved.

              </div>
              <div class="">
                <ul class="list-inline">
                  <li class="list-inline-item">face</li>
                  <li class="list-inline-item">you</li>
                  <li class="list-inline-item">link</li>
                  <li class="list-inline-item">twitter</li>
                </ul>


              </div>
          </div>
      </div> 
    </div>
    <div class="policy">
        <div class="container">
        
        <div class=" d-flex justify-content-between">
            <div class="col-sm">
               call 0123456789
            </div>
            <div class="col-sm">
               <ul class="list-inline">
                   <li class="list-inline-item">T&C</li>
                   <li class="list-inline-item">Lagal Notice</li>
                   <li class="list-inline-item">Privacy Policy</li>
               </ul>
            </div>
        </div>
        </div>
    </div>
   </section>


   

   