<!DOCTYPE html>
<html>
  <head>
    <title>TruckTracking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap" rel="stylesheet"> 
    <%= stylesheet_link_tag    'application', media: 'all' %>
         <script src="https://kit.fontawesome.com/1ef2703627.js"></script>

    <%= javascript_include_tag 'application'%>
  </head>
  
  <body class="">
    <header>
      <%= render 'layouts/navbar'%>
    </header>
    <%= yield %>
   <%= render 'layouts/footer'%>
  
  </body>
</html>
